.animate {
  animation-name: opacityeffect;
  animation-timing-function: ease-in;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.card-container {
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0.5em;
}

.card-img-fallback {
  flex: 5;
  background-color: rgb(207, 207, 207);
}

.card-info {
  flex: 2;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.card-title-fallback {
  width: 90%;
  height: 5%;
  background-color: rgb(207, 207, 207);
}

.card-title-meta {
  width: 90%;
  height: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.card-pageno-fallback {
  width: 30%;
  background-color: rgb(207, 207, 207);
}

.card-price-fallback {
  width: 40%;
  background-color: rgb(207, 207, 207);
}

@keyframes opacityeffect {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
